html {
  font-size: 1em;
}

body {
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {
  margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}
h3 {font-size: 1.44em;}
h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

.container img {
  max-width: 100%;
}

a.nocolor {
  color: inherit;
}

#block_90 {
  background: url(../img/bg.gif);
  color: #fff;  
  font-size: 16px;
  padding: 5px;
  outline: none;
  text-decoration: none;
  text-align: center;   /* Центровка в футере */
}

/* Футер */
#block_90 a:hover, a:active, a:focus {
  color: #177CE8;
  outline: none;
  text-decoration: none;
}

#block_90 a {
  color: #969696;
  transition: 0.5s;
}
@media (max-width: 768) {
  #block_90 {
    padding-left: 50px;
  }
}
@media (max-width: 575px) {
  #block_90 {
    text-align: center;
    padding: 10px;
  }
}
/* Футер конец */
/* Иконки социальных сетей */
.social {
  text-align: center;
  margin-left:5px;
  /*color: #6c757d;*/
}
/* Иконки социальных сетей конец */