---
title: Полезное
permalink: useful/
layout: default
description: Полезные статьи и руководства по Arch Linux — советы, трюки и лучшие практики для повседневного использования.
---

<h1 class="blog-post-title">{{ page.title }}</h1>
<div class="posts">
	{% for post in site.categories.useful %}
    <article class="post">

      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p>
       <span class="blog-post-meta">{{ post.date|date:"%d.%m.%Y" }}</span>
      </p>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Читать далее &raquo;</a>
    </article>
    <hr>
  {% endfor %}
</div>


<!-- paginate cat -->

{% include pagination.html %}
