<div class="sidebar-module sidebar-module-inset">
	<h4>Подписка на новости</h4>
	<form style="text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=github/MaeS', 'popupwindow', 'scrollbars=yes,width=242,height=auto');return true">
		<p style="text-align: justify; font-style: italic;">Подпишитесь на обновления блога, чтобы получать новости первым.</p>
		<p><input type="text" style="width:100%;color: #969696; padding-left: 5px;" name="email" value="Укажите ваш email адрес" /></p>
		<input type="hidden" value="github/MaeS" name="uri"/><input type="hidden" name="loc" value="ru_RU"/>
		<input type="submit" value="Подписаться" />
	</form>
</div>