<footer class="bottom-footer">
	<div class="container text-center">
		<nav class="soc">
			<ul>
				<li><a href="https://t.me/linux4at" target="_blank" rel="nofollow noopener" data-goal="TELEGRAM" title="Linux чат в Telegram" aria-label="Linux чат в Telegram"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
				<li><a href="https://max.ru/join/b4GtiNvbjYqeboq-nddswKQJ-cvWiJGoaZdIoV1EUMk" target="_blank" rel="nofollow noopener" data-goal="max" title="Linux чат в Max" aria-label="Linux чат в Max"><i class="fas fa-comments" aria-hidden="true"></i></a></li>
			</ul>
		</nav>
		<div>© {{ site.time | date: '%Y' }} <span class="logo-footer logo-litera">Все об Arch Linux. Автор Бойко Алексей</span>
		</div>
		<p>{{ site.copyright }}</p>
	</div>
</footer>