<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/blog.css" rel="stylesheet">
	<script type="text/javascript" src="jush.js"></script>
	<script type="text/javascript">
	jush.style('jush.css');
	jush.highlight_tag('code');
	</script>
	<link href="/assets/breadcrumb-style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	{% include icon.html %}
	{% feed_meta %}
</head>
