<div class="sidebar-module sidebar-module-inset">
<h4>Наш телеграм чат</h4>
<p>Присоеденяйся! У нас много активных пользователей, которые помогут тебе справится с любой проблемой в Linux</p>
<center>
<h4>Linux чат в Telegram</h4>
	<p>Есть вопрос или проблема? Задай вопрос в нашем Телеграм Linux чате</p>
	<center>
		<noindex><a href="https://t.me/linux4at"><img src="{{ site.url }}/img/telegram.png" onclick="ym(52189879, 'reachGoal', 'TELEGRAM'); return true;" rel="nofollow" title="Присоедениться" alt="Линукс чат в телеграм"></a></noindex>
	</center>
</center>
</div>
