<nav class="navbar navbar-expand-lg blog-nav">
	<button class="navbar-toggler blog-nav-toggler" type="button" data-toggle="collapse" data-target="#blogNavbar" aria-controls="blogNavbar" aria-expanded="false" aria-label="Открыть меню">
		<span class="navbar-toggler-icon blog-nav-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="blogNavbar">
		<a class="blog-nav-item" href="/">Главная</a>
		<a class="blog-nav-item" href="/archlinux/">Об Arch Linux</a>
		<a class="blog-nav-item" href="/checklist/">Чеклист</a>
		<a class="blog-nav-item" href="/donat/">Поддержать</a>
		<a class="blog-nav-item" href="/about/">О сайте</a>
	</div>
</nav>
