{% include /header-home.html %}

{% include /top-line.html %}

	<div class="pattern pattern-cat-header">
		<div class="cat-header header-about">
			<div class="cat-header-block">
				<h1>О сайте geektop.ru</h1>
			</div>
		</div>
	</div>

	<div class="article-content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<article class="main-article">

						<div class="article-body">

							<p>Новую версию телефона показала компания BaoliYota Technology на IV российско-китайском ЭКСПО в Харбине.</p>
							<p>YotaPhone 3 выпустят в двух версиях: с 64 ГБ и 128 ГБ памяти с возможностью расширения. Аппараты будут стоить $350 и $450 соотвественно. Кроме того, смартфон получит два независимых экрана, один из которых создан на основе технологии электронных чернил. В продажу устройство поступит в конце текущего года.</p>
							<p>Предполагается, что YotaPhone 3 будет работать на четырехъядерном процессоре Snadpragon 820, будет иметь 3 или 4 ГБ оперативной памяти (в зависимости от версии) и сможет похвастаться 13-мегапиксельной основной и 5-мегапиксельной фронтальной камерами. Несъемный аккумулятор рассчитан на 3 500 мАч.</p>
							<p>"Судя по техническим характеристикам, YotaPhone 3 специально упростили, чтобы сделать его дешевле. К концу года, когда он поступит в продажу, это будет морально устаревшее устройство, аналоги которого другие производители выпускали два года назад", - заявил Дмитрий Рябинин, руководитель проекта Hi-Tech Mail.Ru.</p>
							<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Предупреждал знаках вдали, рекламных, текстами текст курсивных всеми это раз прямо которой первую даль большой дал! Коварный единственное, дороге осталось.</p>
							<p>Новую версию телефона показала компания BaoliYota Technology на IV российско-китайском ЭКСПО в Харбине.</p>
							<p>YotaPhone 3 выпустят в двух версиях: с 64 ГБ и 128 ГБ памяти с возможностью расширения. Аппараты будут стоить $350 и $450 соотвественно. Кроме того, смартфон получит два независимых экрана, один из которых создан на основе технологии электронных чернил. В продажу устройство поступит в конце текущего года.</p>
							<p>Предполагается, что YotaPhone 3 будет работать на четырехъядерном процессоре Snadpragon 820, будет иметь 3 или 4 ГБ оперативной памяти (в зависимости от версии) и сможет похвастаться 13-мегапиксельной основной и 5-мегапиксельной фронтальной камерами. Несъемный аккумулятор рассчитан на 3 500 мАч.</p>
							<p>"Судя по техническим характеристикам, YotaPhone 3 специально упростили, чтобы сделать его дешевле. К концу года, когда он поступит в продажу, это будет морально устаревшее устройство, аналоги которого другие производители выпускали два года назад", - заявил Дмитрий Рябинин, руководитель проекта Hi-Tech Mail.Ru.</p>
							<p>YotaPhone 3 выпустят в двух версиях: с 64 ГБ и 128 ГБ памяти с возможностью расширения. Аппараты будут стоить $350 и $450 соотвественно. Кроме того, смартфон получит два независимых экрана, один из которых создан на основе технологии электронных чернил. В продажу устройство поступит в конце текущего года.</p>
							<p>Предполагается, что YotaPhone 3 будет работать на четырехъядерном процессоре Snadpragon 820, будет иметь 3 или 4 ГБ оперативной памяти (в зависимости от версии) и сможет похвастаться 13-мегапиксельной основной и 5-мегапиксельной фронтальной камерами. Несъемный аккумулятор рассчитан на 3 500 мАч.</p>
							<p>"Судя по техническим характеристикам, YotaPhone 3 специально упростили, чтобы сделать его дешевле. К концу года, когда он поступит в продажу, это будет морально устаревшее устройство, аналоги которого другие производители выпускали два года назад", - заявил Дмитрий Рябинин, руководитель проекта Hi-Tech Mail.Ru.</p>
							<p>YotaPhone 3 выпустят в двух версиях: с 64 ГБ и 128 ГБ памяти с возможностью расширения. Аппараты будут стоить $350 и $450 соотвественно. Кроме того, смартфон получит два независимых экрана, один из которых создан на основе технологии электронных чернил. В продажу устройство поступит в конце текущего года.</p>
							<p>Предполагается, что YotaPhone 3 будет работать на четырехъядерном процессоре Snadpragon 820, будет иметь 3 или 4 ГБ оперативной памяти (в зависимости от версии) и сможет похвастаться 13-мегапиксельной основной и 5-мегапиксельной фронтальной камерами. Несъемный аккумулятор рассчитан на 3 500 мАч.</p>

						</div>

					</article>

				</div>

				<div class="col-md-4">

{% include /main-aside.html %}

				</div>

			</div>
		</div>
	</div>

{% include /footer.html %}