{% include /header-category.html %}

{% include /top-line.html %}

	<div class="pattern pattern-cat-header">
		<div class="cat-header overlay" style="background-image: url({{ page.image }})">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-7">
						<div class="cat-header-block">
							<h1>{{ page.title }}</h1>
							<p>{{ page.description }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cat-list-first">
		<div class="container-fluid">

			<div class="ad top-ad">
{% include /ad-type-1.html %}
			</div>

			<section class="type-one type-one-cat">
				<div class="row">
	
{% for post in paginator.posts limit: 1 offset: 0 %}
{% include /home-type-one-section-item-1.html %}
{% endfor %}
		
					<div class="col-md-5 item-title-white">
		
{% for post in paginator.posts limit: 2 offset: 1 %}
{% include /home-type-one-section-item-2.html %}
{% endfor %}
		
					</div>
	
				</div>
			</section>

		</div>
	</div>

	<div class="cat-list">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<div class="cat-list-wrap">

							<div class="cat-list-wrap">

{% for post in paginator.posts offset: 3 %}
{% include /category-list-item.html %}
{% endfor %}
		
							</div>
	
					</div>

{% include /pagination-first.html %}

				</div>

				<div class="col-md-4">

{% include /category-aside.html %}
					
				</div>

			</div>
		</div>

{% include /pagination-second.html %}

	</div>

{% include /footer.html %}