---
layout: default
---

<div class="blog-post">
    <h1 class="blog-post-title">{% if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h1>
    <p class="blog-post-meta">{{ page.date|date:"%d.%m.%Y" }}</p>
    {{ content }}
	<div class="blog-post-tags">
	  {% for categories in page.categories %}
	  <span><a href="{{site.url}}/{{ categories }}"></a></span>
	  {% endfor %}
	</div>
    <hr>
    	<div id="disqus_thread"></div>
	{% include share.html %}
	{% include comments.html %}
</div>
