{% include /header-home.html %}

{% include /top-line.html %}

	<div class="article-content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<article class="main-article">

						<h2>Результаты поиска:</h2>

						<div class="article-body">

							<div id="cse-search-results"></div>
							<script type="text/javascript">
								var googleSearchIframeName = "cse-search-results";
								var googleSearchFormName = "cse-search-box";
								var googleSearchFrameWidth = 800;
								var googleSearchDomain = "www.google.ru";
								var googleSearchPath = "/cse";
							</script>
							<script type="text/javascript" src="https://www.google.com/afsonline/show_afs_search.js"></script>

						</div>

					</article>

				</div>

				<div class="col-md-4">

{% include /search-aside.html %}

				</div>

			</div>
		</div>
	</div>

{% include /footer.html %}